table {
    margin-top: 12px;
}

.table{
    table-layout: fixed;
    width: 50%;
    border-collapse: collapse;
    border: 2px solid;
}

tbody td {
    text-align: center;
}

button{
    background-color: green; /* Green */
    border: none;
    border-radius: 12%;
    color: white;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    ;
}

button.delete{
    background-color: 	#f44336; /* red */
}

button.edit{
    background-color: 	cornflowerblue; /* Blue */
}

